body{
    background-image: url(./EIA1-WiSe19-20/Aufgabe_3/Station_4_Fonts/images/bg.png);
    font-family: 'rosseregular'
}
.container{
    position: absolute;                                                              
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@font-face {
    font-family: 'rosseregular';
    src: url(./EIA1-WiSe19-20/Aufgabe_3/Station_4_Fonts/fonts/rosse-webfont.woff2) format('woff2'),
         url(./EIA1-WiSe19-20/Aufgabe_3/Station_4_Fonts/fonts/rosse-webfont.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}
h1{
    color: white;
    position: relative;
    top: 290px;
    left: 500px;
    z-index: 2;
}