body{
    background-image:url(./EIA1-WiSe19-20/Aufgabe_3/Station_1_Positionierung/images/bg.png);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    position: absolute;                                                              
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.pinguin{
    position: absolute;
    margin-top: 390px;
    margin-left: 927px;
    z-index: 2;
}
.busch{
    position: absolute;
    margin-top: 110px ;
    margin-left: 380px;
    z-index: 2;
}
.text{
    color: white;
    position: absolute;
    text-align: center;
    padding-top: 210px;
    padding-left: 510px;
    z-index: 2;
}
.text2{
    color: white;
    position: absolute;
    text-align: center;
    padding-top: 250px;
    padding-left: 510px;
    z-index: 2;
}
.text3{
    color: white;
    position: absolute;
    text-align: center;
    padding-top: 335px;
    padding-left: 510px;
    z-index: 2;
    font-size: medium;
}
.text4{   
    color: white;
    position: absolute;
    text-align: center;
    padding-top: 400px;
    padding-left: 510px;
    z-index: 2;
    font-size: medium;
}
.text5{   
    color: white;
    position: absolute;
    text-align: center;
    padding-top: 430px;
    padding-left: 510px;
    z-index: 2;
    font-size: medium;
}
.text6{   
    color: white;
    position: absolute;
    text-align: center;
    padding-top: 480px;
    padding-left: 510px;
    z-index: 2;
    font-size: medium;
}



