body{
    background-image: url(./EIA1-WiSe19-20/Aufgabe_3/Station_1_Positionierung/images/bg.png);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.container{
    position: absolute;                                                              
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
nav {
    padding: 10px;
    background-color: white;
    width: 330px;
    height: 20px;
    position: relative;
    left: 585px;
    top: 320px;
    z-index: 2;
}
a{
    color: darkgoldenrod;
}