body{
    background-color: #CED8D8;
}
h1{
    font-family: monospace;
    font-size: 40px;
}
#Rahmen{
    margin-left: 550px;
}
.total{
    font-family: monospace;
    font-size: x-large;
}
.newtask{
    border: none;
    background-color: white;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    font-family: monospace;
    font-size: x-large;
    margin-top: 10px;
}
.addTask{
    border: none;
    font-family: monospace;
    font-size: x-large;
    margin-top: 10px;
}
.firsttask{
    font-family: monospace;
    font-size: x-large;
    margin-top: 50px;
    border: none;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}
.trash{
    position: absolute;
    top: 42%;
    left: 54%;
    border: none;
    background: transparent;
    font-size: 25px;
}
.checkbox{
    position: absolute;
    top: 42%;
    left: 34%;
    border: none;
    background: transparent;
    font-size: 25px;
}