body{
    background-image: url(./EIA_WiSe/images/bg.jpg)
    } 
/*Mobile Screen*/
@media screen and (max-width: 600px;)
{
    div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    .button{
        background-color: darkblue;
        color: white;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin-left: 85px;
        padding: 10px 20px;
    }
    a:hover{
        background-color: white;
    }
    .Fragebox{
        top: -100px;
    }
    .Frage1{
        color: white;
        font-size: large;
    }
    .Telefon{
        position: absolute;
        top: -150px;
        left: -280px;
    }
    .Chance{
        position: absolute;
        top: -100px;
        left:-280px;
    }
    .Text{
        color: white;
    }
    .Antwort1{
        position: absolute;
    }
    .Antwort2{
        position: absolute;
        top: 50px;
    }
    .Antwort3{
        position: absolute;
        top: 100px;
    }
    .Antwort4{
        position: absolute;
        top: 150px;
    }
    .Antwort1:hover{
        background-image: url(./EIA_WiSe/images/answer_over.png);
    }
    .Antwort2:hover{
        background-image: url(./EIA_WiSe/images/answer_over.png);
    }
    .Antwort3:hover{
        background-image: url(./EIA_WiSe/images/answer_over.png);
    }
    .Antwort4:hover{
        background-image: url(./EIA_WiSe/images/answer_over.png);
    }
    .smartphone{
        position: absolute;
        color: white;
        font-size:medium;
        top: 350px;
        left: 150px;
    }
}
/*Desktop Screen*/
@media screen and (min-width: 600px)
{
    .smartphone{
        position: absolute;
        color: white;
        font-size:medium;
        top: 350px;
        left: 150px;
    }
    div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: darkblue;
        font-size: xx-large;
    }
    .button{
        background-color: darkblue;
        color: white;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin-left: 85px;
        padding: 10px 20px;
    }
    a{
        color:white;
    }
    .font{
        position: absolute;
        left: 50%;
        top: 50%;
    }
    a:hover{
        background-color: white;
    }
    .Fragebox{
        top: -100px;
    }
    .Frage1{
        color: white;
        font-size:large;
    }
    .Telefon{
        position: absolute;
        top: -150px;
        left: -280px;
    }
    .Chance{
        position: absolute;
        top: -100px;
        left:-280px;
    }
    .Text{
        color: white;
        font-size: medium;
    }
    .Antwort1{
        position: absolute;
    }
    .Antwort2{
        position: absolute;
        top: 50px;
    }
    .Antwort3{
        position: absolute;
        top: 100px;
    }
    .Antwort4{
        position: absolute;
        top: 150px;
    }
    .Antwort1:hover{
        background-image: url(./EIA_WiSe/images/answer_over.png);
    }
    .Antwort2:hover{
        background-image: url(./EIA_WiSe/images/answer_over.png);
    }
    .Antwort3:hover{
        background-image: url(./EIA_WiSe/images/answer_over.png);
    }
    .Antwort4:hover{
        background-image: url(./EIA_WiSe/images/answer_over.png);
    }
}  